Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -boost-*,
  -llvm*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-else-after-return,
  -readability-static-accessed-through-instance,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters,
  -readability-uppercase-literal-suffix,
  -hicpp-uppercase-literal-suffix,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -misc-include-cleaner,
  -*-special-member-functions,
  -*-owning-memory,
  -*-pro-type-union-access,
  -boost-*,
